body { background: #a45f0d; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 54px; display: flex; }
.block-auth-0 { color: #b93899; font-size: 15px; margin-bottom: 5px; }
.block-notify-1 { color: #155b3d; font-size: 20px; margin-bottom: 5px; }
.block-shipping-2 { color: #443b15; font-size: 19px; margin-bottom: 5px; }
.block-config-3 { color: #f1f2e4; font-size: 12px; margin-bottom: 5px; }
.block-auth-4 { color: #9141ea; font-size: 13px; margin-bottom: 5px; }
.block-search-5 { color: #fef839; font-size: 18px; margin-bottom: 5px; }